# Source: https://goulinkh.github.io/launchpad-wadl-to-openapi/launchpad-devel.openapi.yaml
# Generator: https://github.com/goulinkh/launchpad-wadl-to-openapi @ d57d33d3519591c0fb633e5fe8bf1d9d05c60ce8 (main)
openapi: 3.0.3
info:
  title: Launchpad Web Service API
  version: devel
  description: |-
    The Launchpad web service allows automated clients to access most of the functionality available on the Launchpad web site. For help getting started, see the help wiki.

    **About version devel**

    This version of the web service reflects the most recent changes made. It may abruptly change without warning. Periodically, these changes are bundled up and given a permanent version number.

    Generated from the Launchpad WADL description. Launchpad exposes a hypermedia web service: resource URLs are discovered at runtime from the service root and from links in other resources. Top-level collections use their real service-root URLs; other resource types are shown at a real example instance URL (e.g. `/ubuntu/+archive/primary`) so requests resolve as sent. Named operations are invoked with a `ws.op` argument on the resource URL, and each is exposed here as its own endpoint keyed by that value (e.g. `/people?ws.op=find`) so it carries its own parameters and response schema. Parameter examples are placeholders.
servers:
  - url: https://api.launchpad.net/devel
tags:
  - name: archive
  - name: archives
  - name: branches
  - name: bug
  - name: bug_trackers
  - name: bugs
  - name: builders
  - name: charm_bases
  - name: charm_recipes
  - name: countries
  - name: craft_recipes
  - name: cve
  - name: cves
  - name: distribution
  - name: distribution_source_package
  - name: distributions
  - name: distro_arch_series
  - name: distro_series
  - name: git_ref
  - name: git_repositories
  - name: git_repository
  - name: languages
  - name: livefses
  - name: packageset
  - name: packagesets
  - name: people
  - name: person
  - name: pillars
  - name: polls
  - name: processor
  - name: processors
  - name: project
  - name: project_group
  - name: project_groups
  - name: project_series
  - name: projects
  - name: questions
  - name: rock_bases
  - name: rock_recipes
  - name: service-root
  - name: service_factory
  - name: snap_bases
  - name: snappy_serieses
  - name: snaps
  - name: source_package
  - name: specifications
  - name: team
  - name: temporary_blobs
  - name: translation_groups
  - name: translation_import_queue_entries
  - name: vulnerabilities
paths:
  /:
    get:
      tags:
        - service-root
      summary: The root of the web service.
      operationId: service-root-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/service-root-json"
  /archives?ws.op=getByReference:
    get:
      tags:
        - archives
      summary: Get by reference
      description: Return the IArchive with the given archive reference.
      operationId: archives-getByReference
      parameters:
        - name: reference
          in: query
          required: true
          description: Archive reference string
          schema:
            type: string
          example: reference
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/archive-full"
  /archives:
    get:
      tags:
        - archives
      summary: List archives
      description: Interface for ArchiveSet
      operationId: archives-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/archive-page"
  /branches?ws.op=getByUniqueName:
    get:
      tags:
        - branches
      summary: Get by unique name
      description: Find a branch by its ~owner/product/name unique name. Return None if no match was found.
      operationId: branches-getByUniqueName
      parameters:
        - name: unique_name
          in: query
          required: true
          description: Branch unique name
          schema:
            type: string
          example: ~launchpad/launchpad/master
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branch-full"
  /branches?ws.op=getByUrl:
    get:
      tags:
        - branches
      summary: Get by url
      description: "Find a branch by URL. Either from the external specified in Branch.url, from the URL on http://bazaar.launchpad.net/ or the lp: URL. This is a frontend shim to IBranchLookup.getByUrl to allow it to be exported over the API. If you want to call this from within the Launchpad app, use the IBranchLookup version instead. Return None if no match was found."
      operationId: branches-getByUrl
      parameters:
        - name: url
          in: query
          required: true
          description: Branch URL
          schema:
            type: string
          example: https://git.launchpad.net/launchpad
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branch-full"
  /branches?ws.op=getByUrls:
    get:
      tags:
        - branches
      summary: Get by urls
      description: "Finds branches by URL. Either from the external specified in Branch.url, from the URL on http://bazaar.launchpad.net/ , or from the lp: URL. This is a frontend shim to IBranchLookup.getByUrls to allow it to be exported over the API. If you want to call this from within the Launchpad app, use the IBranchLookup version instead. param urls: An iterable of URLs expressed as strings. return: A dictionary mapping URLs to branches. If the URL has no associated branch, the URL will map to None."
      operationId: branches-getByUrls
      parameters:
        - name: urls
          in: query
          required: true
          description: "A list of URLs of branches These can be URLs external to Launchpad, lp: URLs, or http://bazaar.launchpad.net/ URLs, or any mix of all these different kinds."
          schema:
            type: string
          example: urls
      responses:
        "200":
          description: Successful response
  /branches?ws.op=getByPath:
    get:
      tags:
        - branches
      summary: Get by path
      description: "Find a branch by its path. The path is the same as its lp: URL, but without the leading lp:, so it may be in any of these forms: Unique names: ~OWNER/PROJECT/NAME ~OWNER/DISTRO/SERIES/SOURCE/NAME ~OWNER/+junk/NAME Aliases linked to other objects: PROJECT PROJECT/SERIES DISTRO/SOURCE DISTRO/SUITE/SOURCE Return None if no match was found."
      operationId: branches-getByPath
      parameters:
        - name: path
          in: query
          required: true
          description: Branch path
          schema:
            type: string
          example: path
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branch-full"
  /branches?ws.op=getBranches:
    get:
      tags:
        - branches
      summary: Get branches
      description: "Return a collection of branches. param user: An IPerson. Only branches visible by this user will be returned. param order_by: An item from the BranchListingSort enumeration, or None to return an unordered result set. param modified_since_date: If not None, return only branches whose date_last_modified is greater than this date. param eager_load: If True (the default because this is used in the web service and it needs the related objects to create links) eager load related objects (products, code imports etc)."
      operationId: branches-getBranches
      parameters:
        - name: order_by
          in: query
          required: false
          description: Sort order
          schema:
            type: string
            enum:
              - by most interesting
              - by project name
              - by status
              - by branch name
              - by owner name
              - most recently changed first
              - most neglected first
              - newest first
              - oldest first
        - name: modified_since_date
          in: query
          required: false
          description: Modified since date Return only branches whose date_last_modified is greater than or equal to this date.
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branch-page"
  /branches?ws.op=getBranchVisibilityInfo:
    get:
      tags:
        - branches
      summary: Get branch visibility info
      description: "Return the named branches visible to both user and person. Anonymous requesters don't get any information. param user: The user requesting the information. If the user is None then we return an empty dict. param person: The person whose branch visibility we wish to check. param branch_names: The unique names of the branches to check. Return a dict with the following values: person_name: the displayname of the person. visible_branches: a list of the unique names of the branches which the requester and specified person can both see. This API call is provided for use by the client Javascript. It is not designed to efficiently scale to handle requests for large numbers of branches."
      operationId: branches-getBranchVisibilityInfo
      parameters:
        - name: person
          in: query
          required: true
          description: The person whose branch visibility is being checked.
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
        - name: branch_names
          in: query
          required: true
          description: List of branch unique names
          schema:
            type: string
          example: branch_names
      responses:
        "200":
          description: Successful response
  /branches?ws.op=getMergeProposals:
    get:
      tags:
        - branches
      summary: Get merge proposals
      description: "Return the merge proposals that resulted in this revision. param merged_revision: The revision_id of the revision that resulted from this merge proposal. param visible_by_user: The user to whom the proposals must be visible. If None, only public proposals will be returned."
      operationId: branches-getMergeProposals
      parameters:
        - name: merged_revision
          in: query
          required: true
          schema:
            type: string
          example: merged_revision
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branch_merge_proposal-page"
  /branches:
    get:
      tags:
        - branches
      summary: List branches
      description: Interface representing the set of branches.
      operationId: branches-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/branch-page"
  /bugs/bugtrackers?ws.op=getByName:
    get:
      tags:
        - bug_trackers
      summary: Get by name
      description: Get a BugTracker by its name. If no tracker with the given name exists, return default.
      operationId: bug_trackers-getByName
      parameters:
        - name: name
          in: query
          required: true
          description: The bug tracker name
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bug_tracker-full"
  /bugs/bugtrackers?ws.op=queryByBaseURL:
    get:
      tags:
        - bug_trackers
      summary: Query by base url
      description: Return one or None BugTracker's by baseurl
      operationId: bug_trackers-queryByBaseURL
      parameters:
        - name: base_url
          in: query
          required: true
          description: The base URL of the bug tracker
          schema:
            type: string
          example: https://bugzilla.example.com/
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bug_tracker-full"
  /bugs/bugtrackers?ws.op=ensureBugTracker:
    post:
      tags:
        - bug_trackers
      summary: Ensure bug tracker
      description: Make sure that there is a bugtracker for the given base url. If not, create one using the given attributes.
      operationId: bug_trackers-ensureBugTracker
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                base_url:
                  type: string
                  description: Location The top-level URL for the bug tracker, or an upstream email address. This must be accurate so that Launchpad can link to external bug reports.
                  example: https://bugzilla.example.com/
                bug_tracker_type:
                  type: string
                  enum:
                    - Bugzilla
                    - Debbugs
                    - Roundup
                    - Trac
                    - SourceForge or SourceForge derivative
                    - Mantis
                    - Request Tracker (RT)
                    - Email Address
                    - Savane
                    - PHP Project Bugtracker
                    - Google Code
                    - GitHub Issues
                    - GitLab Issues
                  description: Bug Tracker Type
                title:
                  type: string
                  description: Title A descriptive label for this tracker to show in listings.
                summary:
                  type: string
                  description: Summary A brief introduction or overview of this bug tracker instance.
                contact_details:
                  type: string
                  description: Contact details The contact details for the external bug tracker (so that, for example, its administrators can be contacted about a security breach).
                name:
                  type: string
                  description: Name A URL-friendly name for the bug tracker, such as "mozilla-bugs".
              required:
                - base_url
      responses:
        "200":
          description: Successful response
  /bugs/bugtrackers:
    get:
      tags:
        - bug_trackers
      summary: List bug trackers
      description: A set of IBugTracker's. Each BugTracker is a distinct instance of a bug tracking tool. For example, bugzilla.mozilla.org is distinct from bugzilla.gnome.org.
      operationId: bug_trackers-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bug_tracker-page"
  /builders?ws.op=getByName:
    get:
      tags:
        - builders
      summary: Get by name
      description: Retrieve a builder by name
      operationId: builders-getByName
      parameters:
        - name: name
          in: query
          required: true
          description: Builder name
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/builder-full"
  /builders?ws.op=getBuildQueueSizes:
    get:
      tags:
        - builders
      summary: Get build queue sizes
      description: "Return the number of pending builds for each processor. return: a dict of tuples with the queue size and duration for each processor and virtualisation. For example: { 'virt': { '386': (1, datetime.timedelta(0, 60)), 'amd64': (2, datetime.timedelta(0, 30)), }, 'nonvirt':... } The tuple contains the size of the queue, as an integer, and the sum of the jobs 'estimated_duration' in queue, as a timedelta or None for empty queues."
      operationId: builders-getBuildQueueSizes
      responses:
        "200":
          description: Successful response
  /builders?ws.op=getBuildersForQueue:
    get:
      tags:
        - builders
      summary: Get builders for queue
      description: Return all builders with the given properties.
      operationId: builders-getBuildersForQueue
      parameters:
        - name: processor
          in: query
          required: true
          description: Processor
          schema:
            type: string
            format: uri
            x-lp-resource-type: processor
          example: processor
        - name: virtualized
          in: query
          required: false
          description: Virtualized
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/builder-page"
  /builders?ws.op=new:
    post:
      tags:
        - builders
      summary: New
      description: Create a new builder. The builder will be set to manual. An admin needs to verify its configuration and set it to automatic before jobs will be dispatched.
      operationId: builders-new
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                processors:
                  type: string
                  description: Processors Processors identifying jobs which can be built by this device.
                  example: processors
                url:
                  type: string
                  description: "URL The URL to the build machine, used as a unique identifier. Includes protocol, host and port only, e.g.: http://farm.com:8221/"
                  example: https://git.launchpad.net/launchpad
                name:
                  type: string
                  description: Name The builder name used for reference purposes
                  example: ubuntu
                title:
                  type: string
                  description: Title The builder title. Should be just a few words.
                  example: title
                active:
                  type: string
                  description: Publicly Visible Whether or not to present the builder publicly.
                virtualized:
                  type: string
                  description: Virtualized Whether or not the builder is a virtual Xen instance.
                  example: virtualized
                vm_host:
                  type: string
                  description: "VM host The machine hostname hosting the virtual buildd-worker, e.g.: foobar-host.ppa"
                open_resources:
                  type: string
                  description: Open resources Resource tags offered by this builder, that can be required by a build and if required must match.
                restricted_resources:
                  type: string
                  description: Restricted resources Resource tags offered by this builder, indicating that the builder may only be used by builds that explicitly require these tags.
              required:
                - processors
                - url
                - name
                - title
                - virtualized
      responses:
        "200":
          description: Successful response
  /builders:
    get:
      tags:
        - builders
      summary: List builders
      description: "Collections of builders. IBuilderSet provides access to all Builders in the system, and also acts as a Factory to allow the creation of new Builders. Methods on this interface should deal with the set of Builders: methods that affect a single Builder should be on IBuilder."
      operationId: builders-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/builder-page"
  /+charm-bases?ws.op=getByDistroSeries:
    get:
      tags:
        - charm_bases
      summary: Get by distro series
      description: "Return the ICharmBase for this distro series. raises NoSuchCharmBase: if no base exists for this distro series."
      operationId: charm_bases-getByDistroSeries
      parameters:
        - name: distro_series
          in: query
          required: true
          description: Distro series
          schema:
            type: string
            format: uri
            x-lp-resource-type: distro_series
          example: noble
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charm_base-full"
  /+charm-bases?ws.op=new:
    post:
      tags:
        - charm_bases
      summary: New
      description: Create an ICharmBase.
      operationId: charm_bases-new
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                distro_series:
                  type: string
                  format: uri
                  x-lp-resource-type: distro_series
                  description: Distro series
                  example: noble
                build_snap_channels:
                  type: string
                  description: Source snap channels for builds A dictionary mapping snap names to channels to use when building charm recipes that specify this base. The special '_byarch' key may have a mapping of architecture names to mappings of snap names to channels, which if present override the channels declared at the top level when building for those architectures.
                  example: build_snap_channels
                processors:
                  type: string
              required:
                - distro_series
                - build_snap_channels
      responses:
        "200":
          description: Successful response
  /+charm-bases:
    get:
      tags:
        - charm_bases
      summary: List charm bases
      description: Interface representing the set of bases for charms.
      operationId: charm_bases-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charm_base-page"
  /+charm-recipes?ws.op=getByName:
    get:
      tags:
        - charm_recipes
      summary: Get by name
      description: Returns the appropriate ICharmRecipe for the given objects.
      operationId: charm_recipes-getByName
      parameters:
        - name: owner
          in: query
          required: true
          description: Owner
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
        - name: project
          in: query
          required: true
          description: Project
          schema:
            type: string
            format: uri
            x-lp-resource-type: project
          example: launchpad
        - name: name
          in: query
          required: true
          description: Recipe name
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charm_recipe-full"
  /+charm-recipes?ws.op=findByOwner:
    get:
      tags:
        - charm_recipes
      summary: Find by owner
      description: Return all charm recipes with the given owner.
      operationId: charm_recipes-findByOwner
      parameters:
        - name: owner
          in: query
          required: true
          description: Owner
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charm_recipe-page"
  /+charm-recipes?ws.op=new:
    post:
      tags:
        - charm_recipes
      summary: New
      description: Create an ICharmRecipe.
      operationId: charm_recipes-new
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                owner:
                  type: string
                  format: uri
                  x-lp-resource-type: person
                  description: Owner The owner of this charm recipe.
                  example: ~launchpad
                project:
                  type: string
                  format: uri
                  x-lp-resource-type: project
                  description: The project that this charm recipe is associated with
                  example: launchpad
                name:
                  type: string
                  description: Charm recipe name The name of the charm recipe.
                  example: ubuntu
                description:
                  type: string
                  description: Description A description of the charm recipe.
                git_repository:
                  type: string
                  format: uri
                  x-lp-resource-type: git_repository
                  description: Git repository A Git repository with a branch containing a charm recipe.
                git_repository_url:
                  type: string
                  description: Git repository URL The URL of a Git repository with a branch containing a charmcraft.yaml at the top level.
                git_path:
                  type: string
                  description: Git branch path The path of the Git branch containing a charm recipe.
                git_ref:
                  type: string
                  format: uri
                  x-lp-resource-type: git_ref
                  description: Git branch The Git branch containing a charm recipe.
                build_path:
                  type: string
                  description: Build path Subdirectory within the branch containing metadata.yaml.
                auto_build:
                  type: string
                  description: Automatically build when branch changes Whether this charm recipe is built automatically when its branch changes.
                auto_build_channels:
                  type: string
                  description: "Source snap channels for automatic builds A dictionary mapping snap names to channels to use when building this charm recipe. Supported snap names: 'charmcraft', 'core', 'core18', 'core20', 'core22', 'core24', 'core26'"
                store_upload:
                  type: string
                  description: Automatically upload to store Whether builds of this charm recipe are automatically uploaded to the store.
                store_name:
                  type: string
                  description: Registered store name The registered name of this charm in the store.
                store_channels:
                  type: string
                  description: Store channels Channels to release this charm to after uploading it to the store. A channel is defined by a combination of an optional track, a risk, and an optional branch, e.g. '2.1/stable/fix-123', '2.1/stable', 'stable/fix-123', or 'stable'.
                use_fetch_service:
                  type: string
                  description: Use fetch service If set, Charm builds will use the fetch-service instead of the builder-proxy to access external resources.
                fetch_service_policy:
                  type: string
                  enum:
                    - strict
                    - permissive
                  description: Fetch service policy Which policy to use when using the fetch service. Ignored if use_fetch_service flag is False. The “strict” mode only allows certain resources and formats, and errors out in any case the restrictions are violated. The “permissive” mode works similarly, but only logs a warning when encountering any violations.
                information_type:
                  type: string
                  enum:
                    - Public
                    - Public Security
                    - Private Security
                    - Private
                    - Proprietary
                    - Embargoed
                  description: Information type The type of information contained in this charm recipe.
              required:
                - owner
                - project
                - name
      responses:
        "200":
          description: Successful response
  /+charm-recipes:
    get:
      tags:
        - charm_recipes
      summary: List charm recipes
      description: A utility to create and access charm recipes.
      operationId: charm_recipes-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/charm_recipe-page"
  /+countries?ws.op=getByName:
    get:
      tags:
        - countries
      summary: Get by name
      description: Return a country by its name.
      operationId: countries-getByName
      parameters:
        - name: name
          in: query
          required: true
          description: Name
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/country-full"
  /+countries?ws.op=getByCode:
    get:
      tags:
        - countries
      summary: Get by code
      description: Return a country by its code.
      operationId: countries-getByCode
      parameters:
        - name: code
          in: query
          required: true
          description: Code
          schema:
            type: string
          example: code
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/country-full"
  /+countries:
    get:
      tags:
        - countries
      summary: List countries
      description: A container for countries.
      operationId: countries-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/country-page"
  /+craft-recipes?ws.op=getByName:
    get:
      tags:
        - craft_recipes
      summary: Get by name
      description: Returns the appropriate ICraftRecipe for the given objects.
      operationId: craft_recipes-getByName
      parameters:
        - name: owner
          in: query
          required: true
          description: Owner
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
        - name: project
          in: query
          required: true
          description: Project
          schema:
            type: string
            format: uri
            x-lp-resource-type: project
          example: launchpad
        - name: name
          in: query
          required: true
          description: Recipe name
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/craft_recipe-full"
  /+craft-recipes?ws.op=findByOwner:
    get:
      tags:
        - craft_recipes
      summary: Find by owner
      description: Return all craft recipes for the given owner.
      operationId: craft_recipes-findByOwner
      parameters:
        - name: owner
          in: query
          required: true
          description: Owner
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/craft_recipe-page"
  /+craft-recipes?ws.op=new:
    post:
      tags:
        - craft_recipes
      summary: New
      description: Create an ICraftRecipe.
      operationId: craft_recipes-new
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                owner:
                  type: string
                  format: uri
                  x-lp-resource-type: person
                  description: Owner The owner of this craft recipe.
                  example: ~launchpad
                project:
                  type: string
                  format: uri
                  x-lp-resource-type: project
                  description: The project that this craft recipe is associated with
                  example: launchpad
                name:
                  type: string
                  description: Craft recipe name The name of the craft recipe.
                  example: ubuntu
                description:
                  type: string
                  description: Description A description of the craft recipe.
                git_repository:
                  type: string
                  format: uri
                  x-lp-resource-type: git_repository
                  description: Git repository A Git repository with a branch containing a sourcecraft.yaml recipe.
                git_repository_url:
                  type: string
                  description: Git repository URL The URL of a Git repository with a branch containing a sourcecraft.yaml at the top level.
                git_path:
                  type: string
                  description: Git branch path The path of the Git branch containing a sourcecraft.yaml recipe.
                git_ref:
                  type: string
                  format: uri
                  x-lp-resource-type: git_ref
                  description: Git branch The Git branch containing a craft.yaml recipe.
                build_path:
                  type: string
                  description: Build path Subdirectory within the branch containing craft.yaml.
                auto_build:
                  type: string
                  description: Automatically build when branch changes Whether this craft recipe is built automatically when the branch containing its craft.yaml recipe changes.
                auto_build_channels:
                  type: string
                  description: Source snap channels for automatic builds A dictionary mapping snap names to channels to use when building this craft recipe. Currently only 'core', 'core18', 'core20', and 'sourcecraft' keys are supported.
                store_upload:
                  type: string
                  description: Automatically upload to store Whether builds of this craft recipe are automatically uploaded to the store.
                store_name:
                  type: string
                  description: Registered store name The registered name of this craft in the store.
                store_channels:
                  type: string
                  description: Store channels Channels to release this craft to after uploading it to the store. A channel is defined by a combination of an optional track, a risk, and an optional branch, e.g. '2.1/stable/fix-123', '2.1/stable', 'stable/fix-123', or 'stable'.
                use_fetch_service:
                  type: string
                  description: Use fetch service If set, Craft builds will use the fetch-service instead of the builder-proxy to access external resources.
                fetch_service_policy:
                  type: string
                  enum:
                    - strict
                    - permissive
                  description: Fetch service policy Which policy to use when using the fetch service. Ignored if use_fetch_service flag is False.
                information_type:
                  type: string
                  enum:
                    - Public
                    - Public Security
                    - Private Security
                    - Private
                    - Proprietary
                    - Embargoed
                  description: Information type The type of information contained in this craft recipe.
              required:
                - owner
                - project
                - name
      responses:
        "200":
          description: Successful response
  /+craft-recipes:
    get:
      tags:
        - craft_recipes
      summary: List craft recipes
      description: A utility to create and access craft recipes.
      operationId: craft_recipes-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/craft_recipe-page"
  /bugs/cve?ws.op=advancedSearch:
    get:
      tags:
        - cves
      summary: Advanced search
      description: "Return cve sequences that matches the given filters. param in_distribution: filter cves that have a vulnerability for all of these distributions. param not_in_distribution: filter cves that have no vulnerability for any of these distributions. param modified_since: only updated cves after modified_since will be returned. param offset: offset of cves to return. It defaults to 0. param limit: return limit cves at max. It defaults to config.launchpad.default_batch_size."
      operationId: cves-advancedSearch
      parameters:
        - name: in_distribution
          in: query
          required: false
          description: Distributions linked to the cve
          schema:
            type: string
        - name: not_in_distribution
          in: query
          required: false
          description: Distributions not linked to the cve
          schema:
            type: string
        - name: modified_since
          in: query
          required: false
          description: Minimum cve.datemodified Ignore cves that are older than this.
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: Offset of cves to return
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of cves to return
          schema:
            type: string
      responses:
        "200":
          description: Successful response
  /bugs/cve:
    get:
      tags:
        - cves
      summary: List cves
      description: The set of ICve objects.
      operationId: cves-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cve-page"
  /distros:
    get:
      tags:
        - distributions
      summary: List distributions
      description: Interface for DistrosSet
      operationId: distributions-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/distribution-page"
  /+git?ws.op=getByID:
    get:
      tags:
        - git_repositories
      summary: Get by id
      description: Find a repository by its ID. Return None if no match was found.
      operationId: git_repositories-getByID
      parameters:
        - name: id
          in: query
          required: true
          description: Repository ID
          schema:
            type: string
          example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/git_repository-full"
  /+git?ws.op=getByPath:
    get:
      tags:
        - git_repositories
      summary: Get by path
      description: "Find a repository by its path. Any of these forms may be used: Unique names: ~OWNER/PROJECT/+git/NAME ~OWNER/DISTRO/+source/SOURCE/+git/NAME ~OWNER/+git/NAME Owner-target default aliases: ~OWNER/PROJECT ~OWNER/DISTRO/+source/SOURCE Official aliases: PROJECT DISTRO/+source/SOURCE Return None if no match was found."
      operationId: git_repositories-getByPath
      parameters:
        - name: path
          in: query
          required: true
          description: Repository path
          schema:
            type: string
          example: path
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/git_repository-full"
  /+git?ws.op=getRepositories:
    get:
      tags:
        - git_repositories
      summary: Get repositories
      description: "Get all repositories for a target. param user: An IPerson. Only repositories visible by this user will be returned. param target: An IHasGitRepositories, or None to get repositories for all targets. param order_by: An item from the GitListingSort enumeration, or None to return an unordered result set. param modified_since_date: If not None, return only repositories whose date_last_modified is greater than this date. return: A collection of IGitRepository objects."
      operationId: git_repositories-getRepositories
      parameters:
        - name: target
          in: query
          required: false
          description: Target
          schema:
            type: string
            format: uri
            x-lp-resource-type: git_target
        - name: order_by
          in: query
          required: false
          description: Sort order
          schema:
            type: string
            enum:
              - by most interesting
              - by repository name
              - most recently changed first
              - most neglected first
              - newest first
              - oldest first
        - name: modified_since_date
          in: query
          required: false
          description: Modified since date Return only repositories whose date_last_modified is greater than or equal to this date.
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/git_repository-page"
  /+git?ws.op=countRepositoriesForRepack:
    get:
      tags:
        - git_repositories
      summary: Count repositories for repack
      description: "Get number of repositories qualifying for a repack. return: The number of IGitRepository objects qualifying for a repack."
      operationId: git_repositories-countRepositoriesForRepack
      responses:
        "200":
          description: Successful response
  /+git?ws.op=getRepositoryVisibilityInfo:
    get:
      tags:
        - git_repositories
      summary: Get repository visibility info
      description: "Return the named repositories visible to both user and person. Anonymous requesters don't get any information. param user: The user requesting the information. If the user is None then we return an empty dict. param person: The person whose repository visibility we wish to check. param repository_names: The unique names of the repositories to check. Return a dict with the following values: person_name: the displayname of the person. visible_repositories: a list of the unique names of the repositories which the requester and specified person can both see. This API call is provided for use by the client Javascript. It is not designed to efficiently scale to handle requests for large numbers of repositories."
      operationId: git_repositories-getRepositoryVisibilityInfo
      parameters:
        - name: person
          in: query
          required: true
          description: The person whose repository visibility is being checked.
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
        - name: repository_names
          in: query
          required: true
          description: List of repository unique names
          schema:
            type: string
          example: repository_names
      responses:
        "200":
          description: Successful response
  /+git?ws.op=getDefaultRepository:
    get:
      tags:
        - git_repositories
      summary: Get default repository
      description: "Get the default repository for a target. param target: An IHasGitRepositories. raises GitTargetError: if target is an IPerson. return: An IGitRepository, or None."
      operationId: git_repositories-getDefaultRepository
      parameters:
        - name: target
          in: query
          required: true
          description: Target
          schema:
            type: string
            format: uri
            x-lp-resource-type: git_target
          example: launchpad
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/git_repository-full"
  /+git?ws.op=getDefaultRepositoryForOwner:
    get:
      tags:
        - git_repositories
      summary: Get default repository for owner
      description: "Get a person's default repository for a target. param owner: An IPerson. param target: An IHasGitRepositories. raises GitTargetError: if target is an IPerson. return: An IGitRepository, or None."
      operationId: git_repositories-getDefaultRepositoryForOwner
      parameters:
        - name: owner
          in: query
          required: true
          description: Owner
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
        - name: target
          in: query
          required: true
          description: Target
          schema:
            type: string
            format: uri
            x-lp-resource-type: git_target
          example: launchpad
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/git_repository-full"
  /+git?ws.op=getRepositoriesForRepack:
    get:
      tags:
        - git_repositories
      summary: Get repositories for repack
      description: "Get the top badly packed repositories. param limit: The number of badly packed repositories that the endpoint should return - it is 50 by default. return: A list of the worst badly packed repositories."
      operationId: git_repositories-getRepositoriesForRepack
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful response
  /+git?ws.op=new:
    post:
      tags:
        - git_repositories
      summary: New
      description: "Create a Git repository and return it. param repository_type: The GitRepositoryType of the new repository. param registrant: The IPerson who registered the new repository. param owner: The IPerson who owns the new repository. param target: The IProduct, IDistributionSourcePackage, IOCIProjectName, or IPerson that the new repository is associated with. param name: The repository name. param information_type: Set the repository's information type to one different from the target's default. The type must conform to the target's code sharing policy. (optional) param with_hosting: Create the repository on the hosting service."
      operationId: git_repositories-new
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                owner:
                  type: string
                  format: uri
                  x-lp-resource-type: person
                  description: Owner The owner of this Git repository. This controls who can modify the repository.
                  example: ~launchpad
                target:
                  type: string
                  format: uri
                  x-lp-resource-type: git_target
                  description: Target The target of the repository.
                  example: launchpad
                name:
                  type: string
                  description: Name The repository name. Keep very short, unique, and descriptive, because it will be used in URLs.
                  example: ubuntu
                information_type:
                  type: string
                  enum:
                    - Public
                    - Public Security
                    - Private Security
                    - Private
                    - Proprietary
                    - Embargoed
                  description: Information type The type of information contained in this repository.
              required:
                - owner
                - target
                - name
      responses:
        "200":
          description: Successful response
  /+git?ws.op=setDefaultRepository:
    post:
      tags:
        - git_repositories
      summary: Set default repository
      description: "Set the default repository for a target. param target: An IHasGitRepositories. param repository: An IGitRepository, or None to unset the default repository. raises GitTargetError: if target is an IPerson."
      operationId: git_repositories-setDefaultRepository
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                target:
                  type: string
                  format: uri
                  x-lp-resource-type: git_target
                  description: Target
                  example: launchpad
                repository:
                  type: string
                  format: uri
                  x-lp-resource-type: git_repository
                  description: Git repository
              required:
                - target
      responses:
        "200":
          description: Successful response
  /+git?ws.op=setDefaultRepositoryForOwner:
    post:
      tags:
        - git_repositories
      summary: Set default repository for owner
      description: "Set a person's default repository for a target. param owner: An IPerson. param target: An IHasGitRepositories. param repository: An IGitRepository, or None to unset the default repository. param user: The IPerson who is making the change. raises GitTargetError: if target is an IPerson."
      operationId: git_repositories-setDefaultRepositoryForOwner
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                owner:
                  type: string
                  format: uri
                  x-lp-resource-type: person
                  description: Owner
                  example: ~launchpad
                target:
                  type: string
                  format: uri
                  x-lp-resource-type: git_target
                  description: Target
                  example: launchpad
                repository:
                  type: string
                  format: uri
                  x-lp-resource-type: git_repository
                  description: Git repository
              required:
                - owner
                - target
      responses:
        "200":
          description: Successful response
  /+git:
    get:
      tags:
        - git_repositories
      summary: List git repositories
      description: Interface representing the set of Git repositories.
      operationId: git_repositories-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/git_repository-page"
  /+languages?ws.op=getAllLanguages:
    get:
      tags:
        - languages
      summary: Get all languages
      description: Return a result set of all ILanguages from Launchpad.
      operationId: languages-getAllLanguages
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/language-page"
  /+languages:
    get:
      tags:
        - languages
      summary: List languages
      description: The collection of languages. The standard get method will return only the visible languages. If you want to access all languages known to Launchpad, use the getAllLanguages method.
      operationId: languages-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/language-page"
  /livefses?ws.op=getByName:
    get:
      tags:
        - livefses
      summary: Get by name
      description: Return the appropriate ILiveFS for the given objects.
      operationId: livefses-getByName
      parameters:
        - name: owner
          in: query
          required: true
          description: Owner
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
          example: ~launchpad
        - name: distro_series
          in: query
          required: true
          description: Distroseries
          schema:
            type: string
            format: uri
            x-lp-resource-type: distro_series
          example: noble
        - name: name
          in: query
          required: true
          description: Live filesystem name
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/livefs-full"
  /livefses?ws.op=new:
    post:
      tags:
        - livefses
      summary: New
      description: Create an ILiveFS.
      operationId: livefses-new
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                owner:
                  type: string
                  format: uri
                  x-lp-resource-type: person
                  description: Owner The owner of this live filesystem image.
                  example: ~launchpad
                distro_series:
                  type: string
                  format: uri
                  x-lp-resource-type: distro_series
                  description: Distro Series The series for which the image should be built.
                  example: noble
                name:
                  type: string
                  description: Name The name of the live filesystem image.
                  example: ubuntu
                metadata:
                  type: string
                  description: A dict of data about the image. Entries here will be passed to the builder.
                  example: metadata
              required:
                - owner
                - distro_series
                - name
                - metadata
      responses:
        "200":
          description: Successful response
  /livefses:
    get:
      tags:
        - livefses
      summary: List livefses
      description: A utility to create and access live filesystems.
      operationId: livefses-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/livefs-page"
  /bugs?ws.op=searchTasks:
    get:
      tags:
        - bugs
      summary: Search tasks
      description: "Search the IBugTasks reported on this entity. search_params: a BugTaskSearchParams object Return an iterable of matching results. Note: milestone is currently ignored for all IBugTargets except IProduct."
      operationId: bugs-searchTasks
      parameters:
        - name: order_by
          in: query
          required: false
          description: List of fields by which the results are ordered.
          schema:
            type: string
        - name: search_text
          in: query
          required: false
          description: Bug ID or search text.
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Status Show only bugs with the given status value or list of values.
          schema:
            type: string
        - name: importance
          in: query
          required: false
          description: Importance Show only bugs with the given importance or list of importances.
          schema:
            type: string
        - name: information_type
          in: query
          required: false
          description: Information Type Show only bugs with the given information type or list of information types.
          schema:
            type: string
        - name: assignee
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: bug_reporter
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: bug_supervisor
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: bug_commenter
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: bug_subscriber
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: structural_subscriber
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: owner
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: affected_user
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: person
        - name: has_patch
          in: query
          required: false
          description: Show only bugs with patches available.
          schema:
            type: string
        - name: has_cve
          in: query
          required: false
          description: Show only bugs associated with a CVE
          schema:
            type: string
        - name: tags
          in: query
          required: false
          description: Tags String or list of strings for tags to search. To exclude, prepend a '-', e.g. '-unwantedtag'
          schema:
            type: string
        - name: tags_combinator
          in: query
          required: false
          description: Tags combination Search for any or all of the tags specified.
          schema:
            type: string
            enum:
              - Any
              - All
        - name: omit_duplicates
          in: query
          required: false
          description: Omit bugs marked as duplicate,
          schema:
            type: string
        - name: status_upstream
          in: query
          required: false
          description: "Status upstream Indicates the status of any remote watches associated with the bug. Possible values include: pending_bugwatch, hide_upstream, resolved_upstream, and open_upstream."
          schema:
            type: string
        - name: milestone
          in: query
          required: false
          description: Milestone Show only bug tasks targeted to this milestone.
          schema:
            type: string
        - name: component
          in: query
          required: false
          description: Component Distribution package archive grouping. E.g. main, universe, multiverse
          schema:
            type: string
        - name: nominated_for
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: distro_series
        - name: has_no_package
          in: query
          required: false
          description: Exclude bugs with packages specified
          schema:
            type: string
        - name: linked_branches
          in: query
          required: false
          description: Search for bugs that are linked to branches or for bugs that are not linked to branches.
          schema:
            type: string
            enum:
              - Show all bugs
              - Show only Bugs with linked Branches
              - Show only Bugs without linked Branches
        - name: modified_since
          in: query
          required: false
          description: Search for bugs that have been modified since the given date.
          schema:
            type: string
        - name: created_since
          in: query
          required: false
          description: Search for bugs that have been created since the given date.
          schema:
            type: string
        - name: created_before
          in: query
          required: false
          description: Search for bugs that were created before the given date.
          schema:
            type: string
        - name: omit_targeted
          in: query
          required: false
          description: Omit bugs targeted to a series
          schema:
            type: string
        - name: linked_blueprints
          in: query
          required: false
          description: Search for bugs that are linked to blueprints or for bugs that are not linked to blueprints.
          schema:
            type: string
            enum:
              - Show all bugs
              - Show only Bugs with linked Blueprints
              - Show only Bugs without linked Blueprints
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bug_task-page"
  /bugs?ws.op=getBugData:
    get:
      tags:
        - bugs
      summary: Get bug data
      description: "Search bugtasks matching the specified criteria. The only criteria currently supported is to search for a bugtask with the specified bug id. return: a list of matching bugs represented as json data"
      operationId: bugs-getBugData
      parameters:
        - name: bug_id
          in: query
          required: true
          description: Bug ID
          schema:
            type: string
          example: "1"
        - name: related_bug
          in: query
          required: false
          schema:
            type: string
            format: uri
            x-lp-resource-type: bug
      responses:
        "200":
          description: Successful response
  /bugs?ws.op=createBug:
    post:
      tags:
        - bugs
      summary: Create bug
      description: "Create a bug (with an appropriate bugtask) and return it. param target: The Project, Distribution or DistributionSourcePackage affected by this bug. param title: The title shown in bug listings. param description: The description of the issue. param information_type: Set the bug's information type to one different from the project's default. The type must conform to the project's bug sharing policy. (optional) param tags: A list of bug tags. (optional) param security_related: Is this bug's information type Private Security? (deprecated) param tags: Is this bug's information type Private user data. (deprecated) Things to note when using this factory: The reporter will be subscribed to the bug. Only people that the project shares with will see the bug when the bug's information type is Proprietary, Private, or Private Security."
      operationId: bugs-createBug
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Summary A one-line summary of the problem.
                  example: title
                description:
                  type: string
                  description: Description A detailed description of the problem, including the steps required to reproduce it.
                  example: description
                tags:
                  type: string
                  description: Tags Space-separated keywords for classifying this bug report.
                information_type:
                  type: string
                  enum:
                    - Public
                    - Public Security
                    - Private Security
                    - Private
                    - Proprietary
                    - Embargoed
                  description: Information Type The type of information contained in this bug report.
                security_related:
                  type: string
                  description: This bug is a security vulnerability.
                private:
                  type: string
                  description: This bug report should be private Private bug reports are visible only to their subscribers.
                target:
                  type: string
                  format: uri
                  x-lp-resource-type: bug_target
                  description: The project, distribution or source package that has this bug.
                  example: launchpad
              required:
                - title
                - description
                - target
      responses:
        "200":
          description: Successful response
  /bugs:
    get:
      tags:
        - bugs
      summary: List bugs
      description: Application root for malone.
      operationId: bugs-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bug-page"
  /package-sets?ws.op=getByName:
    get:
      tags:
        - packagesets
      summary: Get by name
      description: "Return the single package set with the given name (if any). param distroseries: the distroseries to which the new packageset is related. param name: the name of the package set sought. return: An IPackageset instance. raise NoSuchPackageSet: if no package set is found."
      operationId: packagesets-getByName
      parameters:
        - name: name
          in: query
          required: true
          description: Valid package set name
          schema:
            type: string
          example: ubuntu
        - name: distroseries
          in: query
          required: true
          description: Distribution series The distroseries to which this package set is related.
          schema:
            type: string
            format: uri
            x-lp-resource-type: distro_series
          example: noble
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageset-full"
  /package-sets?ws.op=getBySeries:
    get:
      tags:
        - packagesets
      summary: Get by series
      description: "Return the package sets associated with the given distroseries. param distroseries: A DistroSeries. return: An iterable collection of IPackageset instances."
      operationId: packagesets-getBySeries
      parameters:
        - name: distroseries
          in: query
          required: true
          description: Distribution series The distroseries to which this package set is related.
          schema:
            type: string
            format: uri
            x-lp-resource-type: distro_series
          example: noble
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageset-page"
  /package-sets?ws.op=setsIncludingSource:
    get:
      tags:
        - packagesets
      summary: Sets including source
      description: "Get the package sets that include this source package. Return all package sets that directly or indirectly include the given source package name. param sourcepackagename: the included source package name; can be either a string or a ISourcePackageName. param distroseries: the IDistroSeries in which to look for sets. If omitted, matching package sets from all series will be returned. param direct_inclusion: if this flag is set to True, then only package sets that directly include this source package name will be considered. raises NoSuchSourcePackageName: if a source package with the given name cannot be found. return: A (potentially empty) sequence of IPackageset instances."
      operationId: packagesets-setsIncludingSource
      parameters:
        - name: sourcepackagename
          in: query
          required: true
          description: Source package name
          schema:
            type: string
          example: bash
        - name: distroseries
          in: query
          required: false
          description: Distribution series The distroseries to which this package set is related.
          schema:
            type: string
            format: uri
            x-lp-resource-type: distro_series
        - name: direct_inclusion
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageset-page"
  /package-sets?ws.op=new:
    post:
      tags:
        - packagesets
      summary: New
      description: "Create a new package set. param name: the name of the package set to be created. param description: the description for the package set to be created. param owner: the owner of the package set to be created. param distroseries: the distroseries to which the new packageset is related. param related_set: the newly created package set is to be related to related_set (by being placed in the same package group). raises DuplicatePackagesetName: if a package set with the same name exists in distroseries already. return: a newly created IPackageset."
      operationId: packagesets-new
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Valid package set name
                  example: ubuntu
                description:
                  type: string
                  description: Package set description
                  example: description
                owner:
                  type: string
                  format: uri
                  x-lp-resource-type: person
                  description: Person The person who owns this package set.
                  example: ~launchpad
                distroseries:
                  type: string
                  format: uri
                  x-lp-resource-type: distro_series
                  description: Distroseries The distribution series to which the packageset is related.
                  example: noble
                related_set:
                  type: string
                  format: uri
                  x-lp-resource-type: packageset
                  description: Related package set The new package set will share the package set group with this one.
              required:
                - name
                - description
                - owner
                - distroseries
      responses:
        "200":
          description: Successful response
  /package-sets:
    get:
      tags:
        - packagesets
      summary: List packagesets
      description: An interface for multiple package sets.
      operationId: packagesets-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/packageset-page"
  /people?ws.op=getByEmail:
    get:
      tags:
        - people
      summary: Get by email
      description: Return the person with the given email address. Return None if there is no person with the given email address.
      operationId: people-getByEmail
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
          example: foo.bar@example.com
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/person-full"
  /people?ws.op=find:
    get:
      tags:
        - people
      summary: Find
      description: Return all non-merged Persons and Teams whose name, displayname or email address match <text>. The results will be ordered using the default ordering specified in Person._defaultOrder. While we don't have Full Text Indexes in the emailaddress table, we'll be trying to match the text only against the beginning of an email address.
      operationId: people-find
      parameters:
        - name: text
          in: query
          required: true
          description: Search text
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/person-page"
  /people?ws.op=findPerson:
    get:
      tags:
        - people
      summary: Find person
      description: Return all non-merged Persons with at least one email address whose name, displayname or email address match <text>. If text is an empty string, all persons with at least one email address will be returned. The results will be ordered using the default ordering specified in Person._defaultOrder. If exclude_inactive_accounts is True, any accounts whose account_status is any of INACTIVE_ACCOUNT_STATUSES will not be in the returned set. If must_have_email is True, only people with one or more email addresses are returned. While we don't have Full Text Indexes in the emailaddress table, we'll be trying to match the text only against the beginning of an email address. If created_before or created_after are not None, they are used to restrict the search to the dates provided.
      operationId: people-findPerson
      parameters:
        - name: text
          in: query
          required: true
          description: Search text
          schema:
            type: string
          example: ubuntu
        - name: created_after
          in: query
          required: false
          description: Created after
          schema:
            type: string
        - name: created_before
          in: query
          required: false
          description: Created before
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/person-page"
  /people?ws.op=findTeam:
    get:
      tags:
        - people
      summary: Find team
      description: Return all Teams whose name, displayname or email address match <text>. The results will be ordered using the default ordering specified in Person._defaultOrder. While we don't have Full Text Indexes in the emailaddress table, we'll be trying to match the text only against the beginning of an email address.
      operationId: people-findTeam
      parameters:
        - name: text
          in: query
          required: true
          description: Search text
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/person-page"
  /people?ws.op=getUserData:
    get:
      tags:
        - people
      summary: Get user data
      description: Get GDPR-related data for a user from their email address.
      operationId: people-getUserData
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
          example: foo.bar@example.com
      responses:
        "200":
          description: Successful response
  /people?ws.op=getByOpenIDIdentifier:
    get:
      tags:
        - people
      summary: Get by open ididentifier
      description: "Get the person for a given OpenID identifier. param openid_identifier: full OpenID identifier URL for the user. return: the corresponding IPerson or None if the identifier is unknown"
      operationId: people-getByOpenIDIdentifier
      parameters:
        - name: identifier
          in: query
          required: true
          schema:
            type: string
          example: identifier
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/person-full"
  /people?ws.op=getUsernameForSSO:
    get:
      tags:
        - people
      summary: Get username for sso
      description: "Restricted person creation API for SSO. This method can only be called by the Ubuntu SSO service. It finds the username for an account by OpenID identifier. param user: the IPerson performing the operation. Only the ubuntu-sso celebrity is allowed. param openid_identifier: OpenID identifier suffix for the user. This is not the full URL, just the unique suffix portion."
      operationId: people-getUsernameForSSO
      parameters:
        - name: openid_identifier
          in: query
          required: true
          description: OpenID identifier suffix
          schema:
            type: string
          example: openid_identifier
      responses:
        "200":
          description: Successful response
  /people?ws.op=getSSHKeysForSSO:
    get:
      tags:
        - people
      summary: Get sshkeys for sso
      description: "Restricted SSH key creation API for SSO. This method can only be called by the Ubuntu SSO service. It finds and returns all the SSH keys belonging to the account identified by the openid_identifier parameter. param user: the IPerson performing the operation. Only the ubuntu-sso celebrity is allowed. param openid_identifier: OpenID identifier suffix for the user. This is not the full URL, just the unique suffix portion."
      operationId: people-getSSHKeysForSSO
      parameters:
        - name: openid_identifier
          in: query
          required: true
          description: OpenID identifier suffix
          schema:
            type: string
          example: openid_identifier
      responses:
        "200":
          description: Successful response
  /people?ws.op=newTeam:
    post:
      tags:
        - people
      summary: New team
      description: Create and return a new Team with given arguments.
      operationId: people-newTeam
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name A short unique name, beginning with a lower-case letter or number, and containing only letters, numbers, dots, hyphens, or plus signs.
                  example: ubuntu
                display_name:
                  type: string
                  description: Display Name Your name as you would like it displayed throughout Launchpad. Most people use their full name here.
                  example: display_name
                team_description:
                  type: string
                  description: Team Description Obsolete. Use description.
                default_membership_period:
                  type: string
                  description: Subscription period Number of days a new subscription lasts before expiring. You can customize the length of an individual subscription when approving it. Leave this empty or set to 0 for subscriptions to never expire.
                default_renewal_period:
                  type: string
                  description: Self renewal period Number of days members can renew their own membership. The number can be from 1 to 3650 (10 years).
                subscription_policy:
                  type: string
                  enum:
                    - Open Team
                    - Delegated Team
                    - Moderated Team
                    - Restricted Team
                  description: "Membership policy Obsolete: use membership_policy"
                membership_policy:
                  type: string
                  enum:
                    - Open Team
                    - Delegated Team
                    - Moderated Team
                    - Restricted Team
                  description: Membership policy
              required:
                - name
                - display_name
      responses:
        "200":
          description: Successful response
  /people?ws.op=getOrCreateSoftwareCenterCustomer:
    post:
      tags:
        - people
      summary: Get or create software center customer
      description: "Restricted person creation API for Software Center Agent. This method can only be called by Software Center Agent. It gets a person by OpenID identifier or creates a new Launchpad person from the OpenID identifier, email address and display name. param user: the IPerson performing the operation. Only the software-center-agent celebrity is allowed. param openid_identifier: OpenID identifier suffix for the user. This is not the full URL, just the unique suffix portion. param email_address: the email address of the user. param full_name: the full name of the user."
      operationId: people-getOrCreateSoftwareCenterCustomer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                openid_identifier:
                  type: string
                  description: OpenID identifier suffix
                  example: openid_identifier
                email_address:
                  type: string
                  description: Email address
                  example: email_address
                display_name:
                  type: string
                  description: Display name
                  example: display_name
              required:
                - openid_identifier
                - email_address
                - display_name
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/person-full"
  /people?ws.op=setUsernameFromSSO:
    post:
      tags:
        - people
      summary: Set username from sso
      description: "Restricted person creation API for SSO. This method can only be called by the Ubuntu SSO service. It reserves a username for an account by OpenID identifier, as long as the user has no Launchpad account. param user: the IPerson performing the operation. Only the ubuntu-sso celebrity is allowed. param openid_identifier: OpenID identifier suffix for the user. This is not the full URL, just the unique suffix portion. param name: the desired username. raises: InvalidName if the username doesn't meet character constraints. raises: NameAlreadyTaken if the username is already in use. raises: NotPlaceholderAccount if the OpenID identifier has a non-placeholder Launchpad account."
      operationId: people-setUsernameFromSSO
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                openid_identifier:
                  type: string
                  description: OpenID identifier suffix
                  example: openid_identifier
                name:
                  type: string
                  description: Name A short unique name, beginning with a lower-case letter or number, and containing only letters, numbers, dots, hyphens, or plus signs.
                  example: ubuntu
                dry_run:
                  type: string
                  description: Don't save changes
              required:
                - openid_identifier
                - name
      responses:
        "200":
          description: Successful response
  /people?ws.op=addSSHKeyFromSSO:
    post:
      tags:
        - people
      summary: Add sshkey from sso
      description: "Restricted SSH key creation API for SSO. This method can only be called by the Ubuntu SSO service. It adds a new SSH key to the account identified by 'openid_identifier' based on the 'key_text' parameter. param user: the IPerson performing the operation. Only the ubuntu-sso celebrity is allowed. param openid_identifier: OpenID identifier suffix for the user. This is not the full URL, just the unique suffix portion. param key_text: The full text of the SSH Key. raises NoSuchAccount: If the openid_identifier specified does not match any account. raises SSHKeyAdditionError: If the ssh key_text is invalid."
      operationId: people-addSSHKeyFromSSO
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                openid_identifier:
                  type: string
                  description: OpenID identifier suffix
                  example: openid_identifier
                key_text:
                  type: string
                  description: SSH key text
                  example: key_text
                dry_run:
                  type: string
                  description: Don't save changes
              required:
                - openid_identifier
                - key_text
      responses:
        "200":
          description: Successful response
  /people?ws.op=deleteSSHKeyFromSSO:
    post:
      tags:
        - people
      summary: Delete sshkey from sso
      description: "Restricted SSH key deletion API for SSO. This method can only be called by the Ubuntu SSO service. It deletes an SSH key from the account identified by 'openid_identifier' based on the 'key_text' parameter. param user: the IPerson performing the operation. Only the ubuntu-sso celebrity is allowed. param openid_identifier: OpenID identifier suffix for the user. This is not the full URL, just the unique suffix portion. param key_text: The full text of the SSH Key. raises NoSuchAccount: If the openid_identifier specified does not match any account. raises KeyAdditionError: If the key text is invalid."
      operationId: people-deleteSSHKeyFromSSO
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                openid_identifier:
                  type: string
                  description: OpenID identifier suffix
                  example: openid_identifier
                key_text:
                  type: string
                  description: SSH key text
                  example: key_text
                dry_run:
                  type: string
                  description: Don't save changes
              required:
                - openid_identifier
                - key_text
      responses:
        "200":
          description: Successful response
  /people:
    get:
      tags:
        - people
      summary: List people
      description: Combined schema for operations on a group of Persons.
      operationId: people-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/person-page"
  /+polls?ws.op=find:
    get:
      tags:
        - polls
      summary: Find
      description: "Search for polls. param team: An optional ITeam to filter by. param status: A collection containing as many values as you want from PollStatus. Defaults to PollStatus.ALL. param order_by: An optional PollSort item indicating how to sort the results. Defaults to PollSort.NEWEST_FIRST. param when: Used only by tests, to filter for polls open at a specific date."
      operationId: polls-find
      parameters:
        - name: team
          in: query
          required: false
          description: Team
          schema:
            type: string
            format: uri
            x-lp-resource-type: team
        - name: status
          in: query
          required: false
          description: Poll statuses A list of one or more of 'open', 'closed', or 'not-yet-opened'. Defaults to all statuses.
          schema:
            type: string
        - name: order_by
          in: query
          required: false
          description: Sort order
          schema:
            type: string
            enum:
              - oldest first
              - newest first
              - by opening date
              - by closing date
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/poll-page"
  /+polls:
    get:
      tags:
        - polls
      summary: List polls
      description: The set of Poll objects.
      operationId: polls-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/poll-page"
  /+processors?ws.op=getByName:
    get:
      tags:
        - processors
      summary: Get by name
      description: "Return the IProcessor instance with the matching name. param name: The name to look for. raise ProcessorNotFound: if there is no processor with that name. return: A IProcessor instance if found"
      operationId: processors-getByName
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          example: ubuntu
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/processor-full"
  /+processors:
    get:
      tags:
        - processors
      summary: List processors
      description: Operations related to Processor instances.
      operationId: processors-get
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/processor-page"
  /projects?ws.op=licensing_search:
    get:
      tags:
        - projects
      summary: Licensing search
      description: Return an iterator over products that need to be reviewed.
      operationId: projects-licensing_search
      parameters:
        - name: search_text
          in: query
          required: false
          description: Search text
          schema:
            type: string
        - name: active
          in: query
          required: false
          description: Is the project active
          schema:
            type: string
        - name: project_reviewed
          in: query
          required: false
          description: Is the project licence reviewed
          schema:
            type: string
        - name: licenses
          in: query
          required: false
          description: Licenses
          schema:
            type: string
        - name: created_after
          in: query
          required: false
          description: Created after date
          schema:
            type: string
        - name: created_before
          in: query
          required: false
          description: Created before date
          schema:
            type: string
        - name: has_subscription
          in: query
          required: false
          description: Has a commercial subscription
          schema:
            type: string
        - name: subscription_expires_after
          in: query
          required: false
          description: Subscription expires after
          schema:
            type: string
        - name: subscription_expires_before
          in: query
          required: false
          description: Subscription expired before
          schema:
            type: string
        - name: subscription_modified_after
          in: query
          required: false
          description: Subscription modified after
          schema:
            type: string
        - name: subscription_modified_before
          in: query
          required: false
          description: Subscription modified before
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/project-page"
  /projects?ws.op=search:
    get:
      tags:
        - projects
      summary: Search
      description: Search through the Registry database for products that match the query terms. text is a piece of text in the title / summary / description fields of product. This call eager loads data appropriate for web API; caution may be needed for other callers.
      operationId: projects-search
      parameters:
        - name: text
          in: query
          required: false
          description: Search text
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/project-page"
  /projects?ws.op=latest:
    get:
      tags:
        - projects
      summary: Latest
      description: Return the latest projects registered in Launchpad. The supplied user determines which objects are visible. If the quantity is not specified or is a value that is not 'None' then the set of projects returned is limited to that value (the default quantity is 5). If quantity is 'None' then all projects are returned. For the web service it is not possible to specify the quantity, so all projects are returned, latest first.
      operationId: projects-latest
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/project-page"
  /projects?ws.op=new_project:
    post:
      tags:
        - projects
      summary: New project
      description: Create and return a brand new Product. See IProduct for a description of the parameters.
      operationId: projects-new_project
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name At least one lowercase letter or number, followed by letters, numbers, dots, hyphens or pluses. Keep this name short; it is used in URLs as shown above.
                  example: ubuntu
                display_name:
                  type: string
                  description: Display Name The name of the project as it would appear in a paragraph.
                  example: display_name
                title:
                  type: string
                  description: Title The project title. Should be just a few words.
                  example: title
                summary:
                  type: string
                  description: Summary A short paragraph to introduce the project's work.
                  example: summary
                description:
                  type: string
                  description: Description Details about the project's work, highlights, goals, and how to contribute. Use plain text, paragraphs are preserved and URLs are linked in pages. Don't repeat the Summary.
                project_group:
                  type: string
                  format: uri
                  x-lp-resource-type: project_group
                  description: Part of Project group. This is an overarching initiative that includes several related projects. For example, the Mozilla Project produces Firefox, Thunderbird and Gecko. This information is used to group those projects in a coherent way. If you make this project part of a group, the group preferences and decisions around bug tracking, translation and security policy will apply to this project.
                home_page_url:
                  type: string
                  description: Homepage URL The project home page. Please include the http://
                screenshots_url:
                  type: string
                  description: Screenshots URL The full URL for screenshots of this project, if available. Please include the http://
                download_url:
                  type: string
[...]
